#display-block {
  display: block;
}
#display-none {
  display: none;
}
#view {
  color: rgb(0, 180, 0);
}
#delete {
  color: red;
}
#countryCode {
  width: 11%;
}
#phone {
  display: inline-block;
  position: relative;
  bottom: 38px;
  width: 87%;
  margin-left: 13%;
}
